.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: darkslategrey; /* #212529 */
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBG {
  background-color: #222;
}

nav li a {
  color: white !important;
}
.dropdown-item {
  color: white;
  /* background-color: #222; */
}
.dropdown-item:hover {
  background-color: lightcoral;
  /* color: white !important; */
  /* margin: auto 5px; */
  box-shadow: 0px 1px 1px 0px #fff;
  border-radius: 2px;
}
.navbar-toggler {
  background-color: lavender;
}
.dropdown-menu {
  padding: 10px !important;
}
